@import "vendor/bootstrap/less/bootstrap.less";
@import "app/styles/spinner.less";

.avatar {
  border-radius: 50%;
}

.well hr {
  border-top: 1px solid #dddddd;
}

/* Footer Specific Styles */
.mainContainer {
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: @gray-lighter;
  padding: 10px 10px 0px;
}
/* End Footer Specific Styles */