@import "vendor/bootstrap/less/bootstrap.less";
@import "app/styles/spinner.less";

/* Projects Styles */
#title h2 {
  margin-top: 0px;
}

#title span {
  margin-top: 7px;
  margin-right: 15px;
}

#github {
  margin-top: -4px;
  width: 26px;
}

.well hr {
  border-top: 1px solid #dddddd;
}
/* End Projects Styles */


/* About Styles */
.avatar {
  border-radius: 50%;
  padding: 20px;
}

#icons img {
  width: 48px;
}

#icons a{
  padding: 10px 5px;
}
/* End About Styles */


/* Footer Styles */
.mainContainer {
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: @gray-lighter;
  border-top: #bbb 1px solid;
  padding: 10px 10px 0px;
}
/* End Footer Styles */