.round {
  border-radius: 4%;
}

.side-img {
  width: 220px;
  height: 220px;
  float: left;
  margin-right: 50px;
}

.center-img {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.site-header {
  border-top: none;
}

.padding-top {
  padding-top: 16px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.icon > svg {
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
}

.btn {
  border: 1px solid #ccc;
  padding: 13px;
  border-radius: 3px;
  cursor: pointer;
}