.round {
  border-radius: 4%;
}

.side-img {
  width: 220px;
  height: 220px;
  float: left;
  margin-right: 50px;
}

.center-img {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.site-header {
  border-top: none;
}

.padding-top {
  padding-top: 16px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.icon > svg {
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
}

.btn {
  border: 1px solid #ccc;
  padding: 13px;
  border-radius: 3px;
  cursor: pointer;
}

.image-grid {
  text-align: center;

  .wrap {
    display: inline-block;
    margin: 10px;
    width: 375px;
  }

  .image {
    overflow: hidden;
    margin-bottom: 4px;
    border-radius: 4px;
  }

  .image, img {
    width: 375px;
    height: 375px;
  }
  
  img {
    object-fit: cover;
    transform-origin: 50% 50%;
    transition: transform .25s, visibility .25s ease-in;
  }
  
  img:hover {
    transform: scale(1.1);
  }
}