.repo {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 16px;
  border-radius: 3px;

  h3 {
    margin-bottom: 6px;
  }

  hr {
    margin-bottom: 8px;
  }

  // Fancy fade in set up, actually starting set up in js
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}
