.main-header {
  // Color until image loads
  background-color: #444;

  background-image: url("../img/banner.png");
  background-position: center center;
  background-repeat: no-repeat;

  // Force to show in print
  -webkit-print-color-adjust: exact;

  width: 100%;
  height: 350px;

  position: relative;
}

.main-header h1 {
  position: absolute;
  color: white;
  text-align: right;
  text-shadow: 2px 2px 3px black;

  @media (max-width: 460px) {
    font-size: 26px;
    bottom: 10px;
    right: 35px;
  }

  @media (min-width: 461px) and (max-width: 650px) {
    font-size: 34px;
    bottom: 15px;
    right: 50px;
  }

  @media (min-width: 651px) {
    font-size: 46px;
    bottom: 20px;
    right: 70px;
  }
}
