$project-thumbnail-radius: 4px;
$border-color: #ccc;

h3.no-margin {
  margin-bottom: 0;
}

.project-row {
  margin: 20px 0 30px;
}

.project-thumbnail {
  margin-bottom: 16px;
  position: relative;
  border: solid 1px $border-color;
  border-radius: $project-thumbnail-radius;
  height: 125px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $project-thumbnail-radius;
  }

  .title {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;

    background-color: rgba(0,0,0,0.5);
    border: 1px solid #444;
    border-radius: $project-thumbnail-radius;

    color: white;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
  }
}

.project-right {
  @media (min-width: 768px) {
    padding-right: 20px;
    border-right: 1px solid #e8e8e8;
    margin-right: 12px;
  }

  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}

.border {
  border: solid 1px $border-color;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  overflow: hidden;

  iframe, object, embed {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
