$project-thumbnail-radius: 4px;

h3.no-margin {
  margin-bottom: 0;
}

.project-row {
  margin: 20px 0 30px;
}

.project-thumbnail {
  margin-bottom: 16px;
  position: relative;
  background-color: #333;
  border-radius: $project-thumbnail-radius;
  height: 125px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $project-thumbnail-radius;
  }

  .title {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;

    background-color: rgba(0,0,0,0.5);
    border-radius: $project-thumbnail-radius;

    color: white;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
  }
}
