---
layout: default
exclude: true
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if page.nice_name %}
        {{ page.nice_name }}
      {% else %}
        {{ page.title | escape }}
      {% endif %}
    </h1>

    {% if page.date_range %}
      <h2>
        ({{ page.date_range }})
      </h2>
    {% endif %}

    {% if page.links %}
      <div class="project-links">
        {% for link in page.links %}
          <h3 class="no-margin"><a href="{{ link.url }}">{{ link.title }}</a></h3>
        {% endfor %}
      </div>
    {% endif %}
  </header>


  <div class="post-content">
    <div class="row">
      <div class="col-sm project-right">
        {% if page.images %}
          {% for image in page.images %}
            <!-- Only add in a border if defined -->
            <img class="project-image {{ page.imageClasses }}" src="{{ image }}" alt="{{ page.title }}">
          {% endfor %}
        {% endif %}

        {% if page.video %}
          <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>

      <div class="col-sm">
        {{ page.description }}
      </div>
    </div>

  </div>

</article>
