<h1>About Me</h1>
<hr/>
<div class="col-md-6 col-md-offset-3">
  <img src="http://www.gravatar.com/avatar/a2821096114f7641f9a304453fa56137?s=200"
    class="avatar center-block img-responsive"/>

  <p class="text-center">My name is Andrew McOlash.
    <br/><br/>I was born and raised in the Milwaukee area.
    <br/><br/>I currently work at a Madison-based startup called PerBlue, where
      I am developing video games.
    <br/><br/>I was a Computer Science student at the University of Wisconsin - Madison.
    <br/><br/>I am interested in web and mobile development and recently started
      some Pebble Smartwatch development.
  </p>

  <hr/>

  <p id="icons" class="center-block text-center">
    <a href="mailto:amcolash@wisc.edu"><img src="img/Sociocons/email-sociocon.png"></a>
    <a href="https://linkedin.com/pub/andrew-mcolash/50/33/66a/"><img src="img/Sociocons/linkedin-sociocon.png"></a>
    <a href="https://github.com/amcolash"><img src="img/Sociocons/github-sociocon.png"></a>
    <a href="https://plus.google.com/+AndrewMcOlash/"><img src="img/Sociocons/google-sociocon.png"></a>
    <a href="https://twitter.com/amcolash"><img src="img/Sociocons/twitter-sociocon.png"></a>
    <a href="https://facebook.com/amcolash"><img src="img/Sociocons/facebook-sociocon.png"></a>
  </p>

</div>
