<img class="img-responsive" src="img/header.jpg"/>

<h1>Welcome to My Website!</h1>
<hr/>
<p>Hi, my name is Andrew McOlash. I am a computer scientist who studied at the
  University of Wisconsin -  Madison. Currently, I am working as a Software Engineer
  at Madison-based video game startup company called PerBlue.
</p>
<p>
  This is my personal website which I developed using EmberJS and Twitter Bootstrap.
  Here, you will find some different projects I have worked on, contact
  information, my current résumé and other fun goodies. Thanks for stopping by
  and I hope you enjoy the experience!
</p>
