<h1>Other Projects</h1>
<hr/>
<br>

<h2>WebApps - 2012-2014</h2>
<hr>
<br>

<div class="col-md-6">
  <div class="col-md-10 col-md-offset-1 well">
    <h3>iParkMe Webapp - 2014</h3>
    <a href="https://github.com/amcolash/iParkMe"><h4>Github</h4></a>
    <br>
    <p>
      This project happened after getting lost in a large parking lot for almost 15 minutes. I decided that I needed a better way to keep track of where I parked - whether it was in my car, or on my bike.
    </p>
    <br>
    <a data-toggle="modal" data-target=".iParkMe-Modal" href="#"><img class="projectImg center-block" src="img/projects/iParkMe.png"></a>
    <br><br>
    <p>Simply go to <a href="http://amcolash-iparkme.appspot.com/">this</a> location on your
    mobile device to begin using iParkMe!</p>
  </div>
</div>

<div class="col-md-6">
    <div class="col-md-10 col-md-offset-1 well">
    <h3>ColorFlow - 2012-2013</h3>
    <a href="https://github.com/amcolash/ColorFlow"><h4>Github</h4></a>
    <br>
    <p>
      ColorFlow was my first attempt at making my own webapp. This project was originally done because I had a jailbroken iPhone and could use an HTML page as my lockscreen backgorund. Therefore I made a webapp that would allow the user to see the time, but if swiped to the right they would see their upcoming calendar events and when swiped the left, the current weather. Although I have not touched the code in almost 2 years, it was a great first project and is hosted on my Github.
    </p>
    <br>
    <a data-toggle="modal" data-target=".ColorFlow-Modal" href="#"><img class="projectImg center-block" src="img/projects/ColorFlow.png"></a>
  </div>
</div>

<div class="clearfix"></div>

<h2>Internship at Liberty Mutual - 2014</h2>
<hr>
<br>

<div class="col-md-6">
  <div class="col-md-10 col-md-offset-1 well">
    <h3>Mobile Application Request Website/Webapp</h3>
    <br>
    <p>
      For my internship at Liberty Mutual, I worked on a mobile responsive website/webapp that acted as a pre-approval for the various app stores. It allowed for adding content to a ticket, which would then be approved by various managers before actually being allowed into the app stores. This was a big upgrade from the email chains which were used prior to this.
    </p>
    <br>
    <a data-toggle="modal" data-target=".ETS-Modal" href="#"><img class="projectImg center-block" src="img/projects/ETS.png"></a>
  </div>
</div>

<div class="col-md-6">
  <div class="col-md-10 col-md-offset-1 well">
    <h3>Updates to Liberty Careers Website - 2014</h3>
    <a href="http://www.careers.libertymutualgroup.com/"><h4>Liberty Mutual Careers</h4></a>
    <br>
    <p>
      For my internship at Liberty Mutual, I worked on upgrading and maintaining the liberty mutual carrers website. This website provides basic information about potential career paths in the company. I personally worked on updating some of the content of the website as well as integrating social media into many of the areas of the website.
    </p>
    <br>
    <a data-toggle="modal" data-target=".Careers-Modal" href="#"><img class="projectImg center-block" src="img/projects/Careers.png"></a>
  </div>
</div>


<div class="modal fade iParkMe-Modal" tabindex="-1" role="dialog" aria-labelledby="iParkMe-Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">iParkMe</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/projects/iParkMe.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade ColorFlow-Modal" tabindex="-1" role="dialog" aria-labelledby="ColorFlow-Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">ColorFlow</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/projects/ColorFlow.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade ETS-Modal" tabindex="-1" role="dialog" aria-labelledby="ETS-Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Mobile Application Request Website/Webapp</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/projects/ETS.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade Careers-Modal" tabindex="-1" role="dialog" aria-labelledby="Careers-Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Careers</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/projects/Careers.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>